{*
 * @var array $fb_user Facebook user info
 * @var array $fb_pages Facebook pages the user can admin
 *}
{capture name="js_script"}
jQuery(document).ready(function() {

	jQuery('div[fb-page-id]').click(function() {
		window.location.href = '/pages.php?id=' + jQuery(this).attr('fb-page-id');
	});
});
{/capture}

{include file="_inc/document-top.html" script=$smarty.capture.js_script}
<h2>User</h2>
<div fb-page-id="{$fb_user['id']}">
	<img src="//graph.facebook.com/v2.6/{$fb_user['id']}/picture?redirect=1&type=large" /> {$fb_user['name']}
</div>
<h2>Pages</h2>
{foreach $fb_pages as $page}
<div fb-page-id="{$page['id']}">
	<img src="//graph.facebook.com/v2.6/{$page['id']}/picture" /> {$page['name']}
</div>
{/foreach}

{include file="_inc/document-bottom.html"}
