{*
@var string $title title
@var array $css list of css files
@var array $js list of js files
@var string $script javascript to place in <head>
*}
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{$title}</title>

	{* CSS files *}
	{if isset($css)}
		{foreach $css as $css_file}
		<link rel="stylesheet" href="{$css_file}" />
		{/foreach}
	{else}
		<link rel="stylesheet" href="/js/jQRangeSlider/css/iThing.css" />
	{/if}

	{* JS files *}
	{if isset($js)}
		{foreach $js as $js_file}
		<script src="{$js_file}"></script>
		{/foreach}
	{else}
	<link rel="stylesheet" href="/js/jquery-ui-1.11.4/jquery-ui.min.css">
	<script src="//code.jquery.com/jquery-2.2.4.js"></script>
	<script src="/js/jquery-ui-1.11.4/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="/js/jQRangeSlider-5.7.2/css/iThing.css" type="text/css" />
	<script src="/js/jQRangeSlider-5.7.2/jQAllRangeSliders-min.js"></script>
	{/if}
	<script>
		{$script}
	</script>
	
</head>
<body>